In [61]:
import pandas as pd
import matplotlib.pyplot as plot
#import python libararies

In [62]:
nf=pd.read_csv("nfl_teams.csv")
nf.head()
#read and get all the data

,team_name,team_name_short,team_id,team_id_pfr,team_conference,team_division,team_conference_pre2002,team_division_pre2002
0,Arizona Cardinals,Cardinals,ARI,CRD,NFC,NFC West,NFC,NFC West
1,Atlanta Falcons,Falcons,ATL,ATL,NFC,NFC South,NFC,NFC West
2,Baltimore Colts,Colts,IND,CLT,AFC,NaN,AFC,AFC East
3,Baltimore Ravens,Ravens,BAL,RAV,AFC,AFC North,AFC,AFC Central
4,Boston Patriots,Patriots,NE,NWE,AFC,NaN,AFC,NaN

In [63]:
nf.loc[1,"team_name"]
#we can find  at particular location

'Atlanta Falcons'

In [64]:
nf.loc[:3]
#we can get 0 to 3 tables of data with the id

,team_name,team_name_short,team_id,team_id_pfr,team_conference,team_division,team_conference_pre2002,team_division_pre2002
0,Arizona Cardinals,Cardinals,ARI,CRD,NFC,NFC West,NFC,NFC West
1,Atlanta Falcons,Falcons,ATL,ATL,NFC,NFC South,NFC,NFC West
2,Baltimore Colts,Colts,IND,CLT,AFC,NaN,AFC,AFC East
3,Baltimore Ravens,Ravens,BAL,RAV,AFC,AFC North,AFC,AFC Central

In [65]:
nf[:3]
#it would get only 1st 3 coloums in the given data

,team_name,team_name_short,team_id,team_id_pfr,team_conference,team_division,team_conference_pre2002,team_division_pre2002
0,Arizona Cardinals,Cardinals,ARI,CRD,NFC,NFC West,NFC,NFC West
1,Atlanta Falcons,Falcons,ATL,ATL,NFC,NFC South,NFC,NFC West
2,Baltimore Colts,Colts,IND,CLT,AFC,NaN,AFC,AFC East

In [66]:
nf['team_conference_pre2002'].head(3)
#it would get the data where 1st  tables in team conference

0    NFC
1    NFC
2    AFC
Name: team_conference_pre2002, dtype: object

In [67]:
nf.columns = [col.replace('team_name ', 'team_name_short').lower() for col in nf.columns]
print(nf.columns)
#it would get the index data with exclamatory replacing the index

Index(['team_name', 'team_name_short', 'team_id', 'team_id_pfr',
       'team_conference', 'team_division', 'team_conference_pre2002',
       'team_division_pre2002'],
      dtype='object')

In [68]:
nf.team_name_short.iloc[[2]]
#we can find team locaion with the number 2

2    Colts
Name: team_name_short, dtype: object

In [69]:
(nf.team_name_short == 'UT').head(3)

0    False
1    False
2    False
Name: team_name_short, dtype: bool

In [70]:
nf[nf['team_name_short'].str.split().apply(lambda x: len(x) == 3)].head(3)
#getting index

Empty DataFrame
Columns: [team_name, team_name_short, team_id, team_id_pfr, team_conference, team_division, team_conference_pre2002, team_division_pre2002]
Index: []

In [71]:
nf['team_name_short'].head(3)

0    Cardinals
1      Falcons
2        Colts
Name: team_name_short, dtype: object

In [72]:
nf.head()

,team_name,team_name_short,team_id,team_id_pfr,team_conference,team_division,team_conference_pre2002,team_division_pre2002
0,Arizona Cardinals,Cardinals,ARI,CRD,NFC,NFC West,NFC,NFC West
1,Atlanta Falcons,Falcons,ATL,ATL,NFC,NFC South,NFC,NFC West
2,Baltimore Colts,Colts,IND,CLT,AFC,NaN,AFC,AFC East
3,Baltimore Ravens,Ravens,BAL,RAV,AFC,AFC North,AFC,AFC Central
4,Boston Patriots,Patriots,NE,NWE,AFC,NaN,AFC,NaN

In [73]:
nf.info

<bound method DataFrame.info of                    team_name team_name_short team_id team_id_pfr  \
0          Arizona Cardinals       Cardinals     ARI         CRD
1            Atlanta Falcons         Falcons     ATL         ATL
2            Baltimore Colts           Colts     IND         CLT
3           Baltimore Ravens          Ravens     BAL         RAV
4            Boston Patriots        Patriots      NE         NWE
5              Buffalo Bills           Bills     BUF         BUF
6          Carolina Panthers        Panthers     CAR         CAR
7              Chicago Bears           Bears     CHI         CHI
8         Cincinnati Bengals         Bengals     CIN         CIN
9           Cleveland Browns          Browns     CLE         CLE
10            Dallas Cowboys         Cowboys     DAL         DAL
11            Denver Broncos         Broncos     DEN         DEN
12             Detroit Lions           Lions     DET         DET
13         Green Bay Packers         Packers      GB         GNB
14            Houston Oilers          Oilers     TEN         OTI
15            Houston Texans          Texans     HOU         HTX
16        Indianapolis Colts           Colts     IND         CLT
17      Jacksonville Jaguars         Jaguars     JAX         JAX
18        Kansas City Chiefs          Chiefs      KC         KAN
19         Las Vegas Raiders         Raiders     LVR         RAI
20      Los Angeles Chargers        Chargers     LAC         SDG
21       Los Angeles Raiders         Raiders     LVR         RAI
22          Los Angeles Rams            Rams     LAR         RAM
23            Miami Dolphins        Dolphins     MIA         MIA
24         Minnesota Vikings         Vikings     MIN         MIN
25      New England Patriots        Patriots      NE         NWE
26        New Orleans Saints          Saints      NO         NOR
27           New York Giants          Giants     NYG         NYG
28             New York Jets            Jets     NYJ         NYJ
29           Oakland Raiders         Raiders     LVR         RAI
30       Philadelphia Eagles          Eagles     PHI         PHI
31         Phoenix Cardinals       Cardinals     ARI         CRD
32       Pittsburgh Steelers        Steelers     PIT         PIT
33        San Diego Chargers        Chargers     LAC         SDG
34       San Francisco 49ers           49ers      SF         SFO
35          Seattle Seahawks        Seahawks     SEA         SEA
36       St. Louis Cardinals       Cardinals     ARI         ARI
37            St. Louis Rams            Rams     LAR         RAM
38      Tampa Bay Buccaneers      Buccaneers      TB         TAM
39          Tennessee Oilers          Oilers     TEN         OTI
40          Tennessee Titans          Titans     TEN         OTI
41     Washington Commanders      Washington     WAS         WAS
42  Washington Football Team      Washington     WAS         WAS
43       Washington Redskins      Washington     WAS         WAS

   team_conference team_division team_conference_pre2002 team_division_pre2002
0              NFC      NFC West                     NFC              NFC West
1              NFC     NFC South                     NFC              NFC West
2              AFC           NaN                     AFC              AFC East
3              AFC     AFC North                     AFC           AFC Central
4              AFC           NaN                     AFC                   NaN
5              AFC      AFC East                     AFC              AFC East
6              NFC     NFC South                     NFC              NFC West
7              NFC     NFC North                     NFC           NFC Central
8              AFC     AFC North                     AFC           AFC Central
9              AFC     AFC North                     AFC           AFC Central
10             NFC      NFC East                     NFC              NFC East
11             AFC      AFC West                     AFC              AFC West
12             NFC     NFC North                     NFC           NFC Central
13             NFC     NFC North                     NFC           NFC Central
14             AFC           NaN                     AFC           AFC Central
15             AFC     AFC South                     AFC                   NaN
16             AFC     AFC South                     AFC              AFC East
17             AFC     AFC South                     AFC           AFC Central
18             AFC      AFC West                     AFC              AFC West
19             AFC           NaN                     AFC              AFC West
20             AFC      AFC West                     AFC              AFC West
21             AFC           NaN                     AFC              AFC West
22             NFC      NFC West                     NFC              NFC West
23             AFC      AFC East                     AFC              AFC East
24             NFC     NFC North                     NFC           NFC Central
25             AFC      AFC East                     AFC              AFC East
26             NFC     NFC South                     NFC              NFC West
27             NFC      NFC East                     NFC              NFC East
28             NFC      AFC East                     NFC              AFC East
29             AFC      AFC West                     AFC              AFC West
30             NFC      NFC East                     NFC              NFC East
31             NFC           NaN                     NFC              NFC East
32             AFC     AFC North                     AFC           AFC Central
33             AFC      AFC West                     AFC              AFC West
34             NFC      NFC West                     NFC              NFC West
35             NFC      NFC West                     AFC              AFC West
36             NFC           NaN                     NFC              NFC East
37             NFC           NaN                     NFC              NFC West
38             NFC     NFC South                     NFC           NFC Central
39             AFC           NaN                     AFC           AFC Central
40             AFC     AFC South                     AFC           AFC Central
41             NFC      NFC East                     NFC              NFC East
42             NFC      NFC East                     NFC              NFC East
43             NFC      NFC East                     NFC              NFC East  >

In [74]:
nf.tail()

,team_name,team_name_short,team_id,team_id_pfr,team_conference,team_division,team_conference_pre2002,team_division_pre2002
39,Tennessee Oilers,Oilers,TEN,OTI,AFC,NaN,AFC,AFC Central
40,Tennessee Titans,Titans,TEN,OTI,AFC,AFC South,AFC,AFC Central
41,Washington Commanders,Washington,WAS,WAS,NFC,NFC East,NFC,NFC East
42,Washington Football Team,Washington,WAS,WAS,NFC,NFC East,NFC,NFC East
43,Washington Redskins,Washington,WAS,WAS,NFC,NFC East,NFC,NFC East

In [75]:
nf.team_name

0            Arizona Cardinals
1              Atlanta Falcons
2              Baltimore Colts
3             Baltimore Ravens
4              Boston Patriots
5                Buffalo Bills
6            Carolina Panthers
7                Chicago Bears
8           Cincinnati Bengals
9             Cleveland Browns
10              Dallas Cowboys
11              Denver Broncos
12               Detroit Lions
13           Green Bay Packers
14              Houston Oilers
15              Houston Texans
16          Indianapolis Colts
17        Jacksonville Jaguars
18          Kansas City Chiefs
19           Las Vegas Raiders
20        Los Angeles Chargers
21         Los Angeles Raiders
22            Los Angeles Rams
23              Miami Dolphins
24           Minnesota Vikings
25        New England Patriots
26          New Orleans Saints
27             New York Giants
28               New York Jets
29             Oakland Raiders
30         Philadelphia Eagles
31           Phoenix Cardinals
32         Pittsburgh Steelers
33          San Diego Chargers
34         San Francisco 49ers
35            Seattle Seahawks
36         St. Louis Cardinals
37              St. Louis Rams
38        Tampa Bay Buccaneers
39            Tennessee Oilers
40            Tennessee Titans
41       Washington Commanders
42    Washington Football Team
43         Washington Redskins
Name: team_name, dtype: object

In [79]:
nf=nf.team_name[5]

'Buffalo Bills'