In [8]:
#pandas
import pandas as pd
import matplotlib.pyplot as plt

In [9]:
df = pd.DataFrame ({
    "name":["sai,nath","ashok","sravan"],
    "age":[24,36,54],
    "sex":["male","male","male"]
})
df

       name  age   sex
0  sai,nath   24  male
1     ashok   36  male
2    sravan   54  male

In [10]:
df["age"]

0    24
1    36
2    54
Name: age, dtype: int64

In [11]:
df["age"].max

<bound method Series.max of 0    24
1    36
2    54
Name: age, dtype: int64>

In [12]:
df["name"]

0    sai,nath
1       ashok
2      sravan
Name: name, dtype: object

In [13]:
df.describe()

             age
count   3.000000
mean   38.000000
std    15.099669
min    24.000000
25%    30.000000
50%    36.000000
75%    45.000000
max    54.000000

In [14]:
df["age"].min

<bound method Series.min of 0    24
1    36
2    54
Name: age, dtype: int64>

In [29]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   name    3 non-null      object
 1   age     3 non-null      int64
 2   sex     3 non-null      object
dtypes: int64(1), object(2)
memory usage: 200.0+ bytes

In [15]:
df["age"]

0    24
1    36
2    54
Name: age, dtype: int64

In [16]:
df["age"].max

<bound method Series.max of 0    24
1    36
2    54
Name: age, dtype: int64>

In [17]:
df.describe()

             age
count   3.000000
mean   38.000000
std    15.099669
min    24.000000
25%    30.000000
50%    36.000000
75%    45.000000
max    54.000000

In [18]:
cardsdata = pd.read_csv("cards_data.csv")
cardsdata.head()

,id,client_id,card_brand,card_type,card_number,expires,cvv,has_chip,num_cards_issued,credit_limit,acct_open_date,year_pin_last_changed,card_on_dark_web
0,4524,825,Visa,Debit,4344676511950444,12/2022,623,YES,2,$24295,09/2002,2008,No
1,2731,825,Visa,Debit,4956965974959986,12/2020,393,YES,2,$21968,04/2014,2014,No
2,3701,825,Visa,Debit,4582313478255491,02/2024,719,YES,2,$46414,07/2003,2004,No
3,42,825,Visa,Credit,4879494103069057,08/2024,693,NO,1,$12400,01/2003,2012,No
4,4659,825,Mastercard,Debit (Prepaid),5722874738736011,03/2009,75,YES,1,$28,09/2008,2009,No

In [19]:
cardsdata.dtypes

id                        int64
client_id                 int64
card_brand               object
card_type                object
card_number               int64
expires                  object
cvv                       int64
has_chip                 object
num_cards_issued          int64
credit_limit             object
acct_open_date           object
year_pin_last_changed     int64
card_on_dark_web         object
dtype: object

In [58]:
cardsdata.info

<bound method DataFrame.info of         id  client_id  card_brand        card_type       card_number  expires  \
0     4524        825        Visa            Debit  4344676511950444  12/2022
1     2731        825        Visa            Debit  4956965974959986  12/2020
2     3701        825        Visa            Debit  4582313478255491  02/2024
3       42        825        Visa           Credit  4879494103069057  08/2024
4     4659        825  Mastercard  Debit (Prepaid)  5722874738736011  03/2009
...    ...        ...         ...              ...               ...      ...
6141  5361        185        Amex           Credit   300609782832003  01/2024
6142  2711        185        Visa           Credit  4718517475996018  01/2021
6143  1305       1007  Mastercard           Credit  5929512204765914  08/2020
6144   743       1110  Mastercard            Debit  5589768928167462  01/2020
6145  3199       1110        Visa           Credit  4994011318343994  12/2020

      cvv has_chip  num_cards_issued credit_limit acct_open_date  \
0     623      YES                 2       $24295        09/2002
1     393      YES                 2       $21968        04/2014
2     719      YES                 2       $46414        07/2003
3     693       NO                 1       $12400        01/2003
4      75      YES                 1          $28        09/2008
...   ...      ...               ...          ...            ...
6141  663      YES                 1        $6900        11/2000
6142  492      YES                 2        $5700        04/2012
6143  237       NO                 2        $9200        02/2012
6144  630      YES                 1       $28074        01/2020
6145  120      YES                 1       $14400        05/2017

      year_pin_last_changed card_on_dark_web
0                      2008               No
1                      2014               No
2                      2004               No
3                      2012               No
4                      2009               No
...                     ...              ...
6141                   2013               No
6142                   2012               No
6143                   2012               No
6144                   2020               No
6145                   2017               No

[6146 rows x 13 columns]>

In [20]:
type(cardsdata["cvv"])

pandas.core.series.Series

In [21]:
cardsdata.expires

0       12/2022
1       12/2020
2       02/2024
3       08/2024
4       03/2009
         ...
6141    01/2024
6142    01/2021
6143    08/2020
6144    01/2020
6145    12/2020
Name: expires, Length: 6146, dtype: object

In [74]:
cardsdata['credit_limit'].max

<bound method Series.max of 0       $24295
1       $21968
2       $46414
3       $12400
4          $28
         ...
6141     $6900
6142     $5700
6143     $9200
6144    $28074
6145    $14400
Name: credit_limit, Length: 6146, dtype: object>

In [22]:
cardsdata['id']

0       4524
1       2731
2       3701
3         42
4       4659
        ...
6141    5361
6142    2711
6143    1305
6144     743
6145    3199
Name: id, Length: 6146, dtype: int64

In [79]:
cardsdata["acct_open_date"]

0       09/2002
1       04/2014
2       07/2003
3       01/2003
4       09/2008
         ...
6141    11/2000
6142    04/2012
6143    02/2012
6144    01/2020
6145    05/2017
Name: acct_open_date, Length: 6146, dtype: object

In [23]:
cardsdata["id"][42]
cardsdata.head()

,id,client_id,card_brand,card_type,card_number,expires,cvv,has_chip,num_cards_issued,credit_limit,acct_open_date,year_pin_last_changed,card_on_dark_web
0,4524,825,Visa,Debit,4344676511950444,12/2022,623,YES,2,$24295,09/2002,2008,No
1,2731,825,Visa,Debit,4956965974959986,12/2020,393,YES,2,$21968,04/2014,2014,No
2,3701,825,Visa,Debit,4582313478255491,02/2024,719,YES,2,$46414,07/2003,2004,No
3,42,825,Visa,Credit,4879494103069057,08/2024,693,NO,1,$12400,01/2003,2012,No
4,4659,825,Mastercard,Debit (Prepaid),5722874738736011,03/2009,75,YES,1,$28,09/2008,2009,No

In [99]:
cardsdata["card_number"]

0       4344676511950444
1       4956965974959986
2       4582313478255491
3       4879494103069057
4       5722874738736011
              ...
6141     300609782832003
6142    4718517475996018
6143    5929512204765914
6144    5589768928167462
6145    4994011318343994
Name: card_number, Length: 6146, dtype: int64

In [24]:
cardsdata = pd.read_csv("cards_data.csv")
cardsdata.head()

,id,client_id,card_brand,card_type,card_number,expires,cvv,has_chip,num_cards_issued,credit_limit,acct_open_date,year_pin_last_changed,card_on_dark_web
0,4524,825,Visa,Debit,4344676511950444,12/2022,623,YES,2,$24295,09/2002,2008,No
1,2731,825,Visa,Debit,4956965974959986,12/2020,393,YES,2,$21968,04/2014,2014,No
2,3701,825,Visa,Debit,4582313478255491,02/2024,719,YES,2,$46414,07/2003,2004,No
3,42,825,Visa,Credit,4879494103069057,08/2024,693,NO,1,$12400,01/2003,2012,No
4,4659,825,Mastercard,Debit (Prepaid),5722874738736011,03/2009,75,YES,1,$28,09/2008,2009,No

In [106]:
cardsdata.loc[4, "card_number"]

5722874738736011

In [108]:
cardsdata["card_type"].unique()

array(['Debit', 'Credit', 'Debit (Prepaid)'], dtype=object)

In [113]:
debit_cards=cardsdata[cardsdata['card_type']=='debit']
debit_cards

Empty DataFrame
Columns: [id, client_id, card_brand, card_type, card_number, expires, cvv, has_chip, num_cards_issued, credit_limit, acct_open_date, year_pin_last_changed, card_on_dark_web]
Index: []

In [25]:
cardsdata.credit_limit

0       $24295
1       $21968
2       $46414
3       $12400
4          $28
         ...
6141     $6900
6142     $5700
6143     $9200
6144    $28074
6145    $14400
Name: credit_limit, Length: 6146, dtype: object

In [28]:
cardsdata = pd.read_csv("cards_data.csv",header=None)
cardsdata

,0,1,2,3,4,5,6,7,8,9,10,11,12
0,id,client_id,card_brand,card_type,card_number,expires,cvv,has_chip,num_cards_issued,credit_limit,acct_open_date,year_pin_last_changed,card_on_dark_web
1,4524,825,Visa,Debit,4344676511950444,12/2022,623,YES,2,$24295,09/2002,2008,No
2,2731,825,Visa,Debit,4956965974959986,12/2020,393,YES,2,$21968,04/2014,2014,No
3,3701,825,Visa,Debit,4582313478255491,02/2024,719,YES,2,$46414,07/2003,2004,No
4,42,825,Visa,Credit,4879494103069057,08/2024,693,NO,1,$12400,01/2003,2012,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6142,5361,185,Amex,Credit,300609782832003,01/2024,663,YES,1,$6900,11/2000,2013,No
6143,2711,185,Visa,Credit,4718517475996018,01/2021,492,YES,2,$5700,04/2012,2012,No
6144,1305,1007,Mastercard,Credit,5929512204765914,08/2020,237,NO,2,$9200,02/2012,2012,No
6145,743,1110,Mastercard,Debit,5589768928167462,01/2020,630,YES,1,$28074,01/2020,2020,No
6146,3199,1110,Visa,Credit,4994011318343994,12/2020,120,YES,1,$14400,05/2017,2017,No

NameError: name 'skip_rows' is not defined